{erl_opts, [debug_info]}.
{deps, [{cowboy,  "2.7.0"},
        {jiffy, "1.0.1"},
        % for testing
        {gun,
         {git, "https://github.com/ninenines/gun.git", {tag, "2.0.0-pre.1"}}}
       ]}.

{relx, [{release, {timeseries, "0.1.0"},
         [timeseries,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{ct_opts, [{sys_config, ["./config/sys.config"]}]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
