#header {
  text-align: center;
  font-size: 110%;

  border-style: none none solid none;
  border-width: 5px;
  border-color: rgb(89, 51, 204);
}

h2 {
  text-align: center;
}

#header h1 {
  margin: 10px 10px 10px 10px;
}

#about { display: flex; }

#config {
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(89, 51, 204);
  flex: 3;
}

#dataset {
  min-width: 80px;
  flex: 1;
}
  
.chartconfig {
  margin: 10px;
  display: flex;
}

div.select {
  width: 220px;
  margin-left: 10px;
}

div.short_select {
  width: 80px;
}

.float_left { float: left; }
.float_right { float: right; }

button {
  margin: 2px;
  padding: 5px;
  border: 1px solid grey;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}

button.active {
  border: 2px solid rgb(89, 51, 204);
}

table {
  border-collapse: collapse;
  margin: 5px;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}

div { margin: 5px; }

.table {
  display: flex;
  justify-content: center;
}

.select select, .short_select select {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  text-align: left;
  text-decoration: none;
  width: 90%;
  border-radius: 8px;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 40px;
  background-position: 90% 50%;
}

p {
  text-align: center;
}
